<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>	
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/estilocss.css" th:href="@{/css/estilocss.css}">    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <title>altaEditorail</title>
</head>
<body>
     <header>
		<nav th:replace="~{fragment/headerAdmin::encabezado}"></nav>
	</header>	
  <main>
        <form class="contenedorform row bg-dark text-light" th:action="${editorial.id != 0} ? @{/admin/nuevaEditorial/submit} : @{/admin/nuevaEditorial}" th:object="${editorial}" method="post">
            <fieldset class="contenedorfildset row d-flex col-6">
				<input th:if="${editorial.id != 0}" type="hidden" name="id" th:field="*{id}" />			               
                <label class="col-3" for="nombre">Nombre</label>
                <input class="col-9" type="text" name="nombreEditorial" id="nombreEditorial" required autofocus th:field="*{nombre}">
                <label class="col-3"for="direccion">Dirección</label>
                <input class="col-9"type="text" name="direccion" id="direccion" th:field="*{direccion}">                 
                <label class="col-3"for="email">Email</label>
                <input class="col-9"type="email" name="email" id="email" th:field="*{email}">                               
                <label class="col-3"for="telefono">Teléfono</label>
                <input class="col-9"type="text" name="telefono" id="telefono" th:field="*{tlf}"><br/>
                <button type="submit" class="btn btn-primary botonmargin col-2">Agregar</button>                               
            </fieldset>           
        </form>
    </main>
</body>
</html>