<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/src/main/resources/static/css/estilocss.css" th:href="@{/css/estilocss.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <title>Carrito</title>
</head>
<body>
<header>
    <div class="navbar navbar-expand-md navbar-light bg-light">
		<a class="navbar-brand" href="#" th:href="@{/}"><img src="../../img/logo.png" alt="the android's dungeon"></a>
		<div class="menu-container">
        <nav th:replace="~{fragment/header3::encabezado}"></nav>         
        </div>
    </div>
</header>
    <main>
        <div class="containerCarrito">           
            <div class="row">
                <div class="col-12">
					<table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Producto</th>
                                <th>Precio</th>
                                <th>Descuento</th>
                                <th>Cantidad</th>
                                <th>Subtotal</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody th:each="element:${producto.entrySet()}">
                            <tr>
                                <td><img th:src="${#strings.isEmpty(element.key.img)} ? 'http://placehold.it/350x260' : ${element.key.img}" width="100px"></td>                                
                                <td th:text="${#numbers.formatDecimal(element.key.precioUnidad, 0, 2) + '€'}">0</td>
                                <td th:text="${'Descuento ' +#numbers.formatDecimal(element.key.descuento, 0, 2) +'%'}">0</td>
                                <td th:text="${element.value}">0</td>
                                <td th:text="${#numbers.formatDecimal(element.key.precioUnidad -(element.key.precioUnidad*element.key.descuento/100)* element.value, 0 ,2) +'€'}">0</td>
                                <td>
                                    <a th:href="@{/borrarProducto/{id}/(id=${element.key.id})}"  class="btn btn-danger"><i class="bi bi-trash"></i></a>
                                </td>
                            </tr>                            
                        </tbody>
                        <tfoot>
                            <tr>
								<td colspan="3" class="text-end">Descuento</td>
								<td th:text="${descuento}">0</td>
                                <td colspan="3" class="text-end">Total</td>
                                <td th:text="${#numbers.formatDecimal(total_carrito, 0, 2) + '€'}">0</td>                                
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <a th:href="@{/}" class="btn btn-primary">Seguir comprando</a>
                    <a th:href="@{/checkout}" class="btn btn-success">Finalizar compra</a>
                </div>
            </div>
        </div>
    </main>
      <footer>
        <nav th:replace="~{fragment/footer::pie}"></nav>
    </footer>     
</body>
</html>