<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
     <link rel="stylesheet" href="../static/css/estilocss.css" th:href="@{/css/estilocss.css}">
    <title>ListaJuegosMesa</title>
</head>
<body>
     <header>
    	<nav th:replace="~{fragment/header6::encabezado}"></nav>     
    </header>    
    <main class="main-with-margin">
		<div class="alert alert-warning" role="alert" th:if="${param.error}">
    				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    				<span>Para eliminar este producto deberá eliminar las compras asociadas a el</span>
			</div>
        <div class="container-fluid">
			  <a th:href="@{/admin/nuevoJuegoMesa}" class="btn btn-primary">Añadir</a>
            <table class="table table-striped">
                <thead>
                    <tr>                        
                        <th class="col-4">Titulo</th>
                        <th class="col-1">Precio Unidad</th>
                        <th class="col-1">Stock</th>
                        <th class="col-1">Editorial</th>
                        <th class="col-1">Descuento</th>
                        <th class="col-1">Total</th>             
                    </tr>
                </thead>
                <tbody th:each="juegoMesa:${juegosMesa}">
                    <tr>
                        <td th:text="${juegoMesa.titulo}">null</td>
                        <td th:text="${juegoMesa.precioUnidad}">null</td>
                        <td th:text="${juegoMesa.stock}">null</td>                        
                        <td th:text="${juegoMesa.editorial.nombre}">null</td>
                        <td th:text="${#numbers.formatDecimal(juegoMesa.descuento, 0, 2) + '%'}">null</td>
                        <td class="col-1" th:text="${#numbers.formatDecimal(juegoMesa.precioUnidad - (juegoMesa.precioUnidad*juegoMesa.descuento/100), 0, 2) + '€'}">null</td>
                        <td>                        
                        <a href="#"
								th:href="@{editarJuegoMesa/{id}(id=${juegoMesa.id})}"
								class="btn btn-primary">Editar</a>
                        <a type="button" class="btn btn-danger" href="#"
								th:href="@{borrarJuegoMesa/{id}/(id=${juegoMesa.id})}">Eliminar</a>
                        </td>
                    </tr>
                </tbody>
            </table>          
        </div>
    </main>          
</body>
</html>